body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

p {
  color: var(--text-subtle-color);
}
.flex-container {
  display: flex;
  height: 100%;
  padding: 100px;
}
input,
textarea {
  font: inherit;
  color: rgba(0, 0, 0, 0.9);
    padding: 5px 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border: none;
    margin-bottom: 1em;
    width: 100%;
    overflow: visible;
    padding-top: 0.5em;
}

.editable {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
/* Left section */
.user-profile-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0px rgba(17, 12, 46, 0.09);
  align-items: center;
  margin-right: 20px;
  text-align: start;
  }

/* Position the upload button below the profile picture */
  .profile-pic {
      width: 150px;
        /* Set the width to your desired size */
        height: 150px;
        /* Set the height to your desired size */
        overflow: hidden;
        /* Hide any overflow from the profile picture */
        border-radius: 50%;
        /* Make it a circle */
        margin: 0 auto;
        margin-top: 20px;
      }
      
      .profile-pic:hover {
        cursor: pointer;
  }
  
  .profile-pic img {
    width: 100%;
      /* Make the image fill the container */
      height: 100%;
      /* Make the image fill the container */
      object-fit: cover;
      /* Maintain aspect ratio and cover the container */
  }
  
  .user-details p {
    margin: 20px;
    position: relative;
  }
  
  .user-details p::after {
    content: '';
    /* Add content to the pseudo-element */
    position: absolute;
    /* Position the pseudo-element relative to its parent */
    bottom: -5px;
    /* Adjust the distance of the line from the bottom of the paragraph */
    left: 0;
    /* Align the line to the left edge of the paragraph */
    width: 100%;
    /* Make the line span the entire width of the paragraph */
    height: 1px;
    /* Set the height of the line */
    background-color: #ccc;
    /* Set the color of the line */
  }
  
  .edit-btn button {
    background-color: var(--button-color);
    border-radius: 3px;
    border-style: none;
    width: 50px;
    height: 25px;
    color: var(--text-color);
  }
  
  .edit-btn button:hover {
    background-color: var(--active-color);
    cursor: pointer;
  }
  
  .user-profile-container div.edit-btn button {
    align-items: start;
}

/* Right and Bottom section container */
.right-bottom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0px rgba(17, 12, 46, 0.09);
}

/* Right section */
.payment-mtd {
  flex: 1;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(17, 12, 46, 0.09);
}

/* Bottom section */
.bottom-section {
  flex: 1;
  padding: 20px;
}

.bottom-section h2, .bottom-section p {
  margin: 10px;
}

.right-section h2, .right-section p {
  margin: 10px;
}
.payment-mtd h2,
.payment-mtd p {
  margin: 10px;
}
